numpy
scipy
scikit-learn
category_encoders
shap==0.39.0
matplotlib
seaborn
imblearn
pandas
fastapi
uvicorn
gunicorn==19.9.0
uvloop
httptools
pickle-mixin
joblib
xgboost
lightgbm==3.3.2